ChinaCoin: Специальное наименование: old
Наименование валюты: Yuan
Тип метала: 0
Количество единиц валюты: 538.7
Количество монет в коллекции: 6
CoinR2D2: Специальное наименование: lovely
Наименование валюты: Tenge
Тип метала: 3
Количество единиц валюты: 1000.25
Количество монет в коллекции: 2
Vashington: Специальное наименование: American
Наименование валюты: Dollar
Тип метала: 2
Количество единиц валюты: 80
Количество монет в коллекции: 15
